.container {
  display: flex;
  align-items: center;
  background-color: lightblue;
  height: 50px;
}

.container a {
  margin: 5px;
}

.container a:first-child {
  margin-left: 10px;
}

.container a:last-child {
  margin-right: 10px;
}
